html,
body,
#map {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#controller{
    width: 100px;
    height: 100px;
    color: #000;
    z-index: 100;
    position: absolute;
}


#controller {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;
}

.slider_container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_container_div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9fafb;
    padding: 10px 5px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
}

.slider {
    width: 90%;
    margin-bottom: 10px;
}

.slider_controllers {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller_btn {
    background-color: dodgerblue;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.controller_btn:hover {
    background-color: steelblue;
}

.slider_back_btn {
    padding: 4px;
    margin-right: 6px;
}

.slider_central_btn {
    padding: 6px 4px;
    margin-right: 6px;
}

.slider_forward_btn {
    padding: 4px;
}

.cards_container {
    position: absolute;
    top: 80px;
    left: 10px;
    max-height: 600px;
    width: 200px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: sans-serif;
}

.card {
    overflow: hidden;
    width: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.active_card {
    border: 1px solid dodgerblue;
}

.card_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /*background-color: indianred;*/
    color: white;
}

.card_body {
    padding: 20px 10px 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.card_time, .card_floor, .card_activity {
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.history_btn {
    width: 90%;
    padding: 10px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
}

.history_btn:hover {
    background-color: dodgerblue;
    color: white;
}